body {
  background-color: #85be66;
  background-size: cover;
  background-position: center;
  text-align: center;
  margin: 20px;
}
#foodSelection {
  margin-top: 10%;
}
select, button {
  font-size: 18px;
  padding: 8px;
  margin: 20px;
  font-family: "Poppins", sans-serif;
}
p {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 150%;
  margin: 2% auto;
}
div {
  font-family: "Poppins", sans-serif;
  text-align: center;
}
ul {
  display: inline-block;
  text-align: left;
  line-height: 210%;
}
.list {
  text-decoration: none;
  color: black;
  transition: all 0.3s ease-out;
}
.list:hover {
  color: rgba(0, 0, 0, 0.414);
  transform: translateY(-5px);
}
#home {
  width: 2.5%;
  position: fixed;
  left: 3%;
  float: left;
}
#home:hover {
  transform: translateY(-5px);
  transition: 300ms;
}
#home:not(:hover) {
  transition: 300ms;
}

