body{
    background-color: #85BE66;
    background-size: cover;
    background-position: center;
}
p{
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 150%;
    margin: 4% auto;
}
img{
    display: block;
    margin: 0 auto 4% auto;
}
div{
    text-align: center;
    font-size: 110%;
    font-family: "Poppins", sans-serif;
}
hr{
    border: none;
    background-color: black;
    height: 1px;
}
@font-face {
    font-family: 'Poppins';
    src: url(/Poppins/Poppins-Regular.ttf) format('truetype');
}